<router-outlet />
<div class="container my-5">
    <div class="flex-right mb-4">
        <button mat-mini-fab aria-label="Add hero button" (click)="openDialog(modalForm, true)">
            <mat-icon fontIcon="add"></mat-icon>
        </button>
    </div>
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        

        <app-table 
            [displayedColumns]="columns" 
            [data]="data$ | async" 
            (deleteHeroEvent)="deleteHeroConfirmation($event)"
            (editHeroEvent)="editHeroForm($event)"
        ></app-table>

    </div>
</div>

<ng-template #modalForm>
    <app-hero-form 
        (submitHeroEvent)="createHero($event)" 
        (editHeroEvent)="editHero($event)"
        [selectedHero]="selectedHero"
    ></app-hero-form>
</ng-template>

<ng-template #deleteModal>
    <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
            <h1 class="fw-semi-bold mb-0 fs-5">Are you sure you want to delete "{{selectedHeroName}}"?</h1>
        </div>
    
        <section>         
            <div class="d-flex justify-content-center mb-4">
              <button class="m-2" mat-flat-button (click)="deleteHero()">DELETE HERO</button>
              <button class="m-2" mat-flat-button (click)="closeDialog()">CANCEL</button>
            </div>
        </section>
    </div>
</ng-template>