table {
  width: 100%;
}
  
th.mat-sort-header-sorted {
  color: black;
}
  
.table-row {
  cursor: pointer;
}

.edit-btn:hover {
  color: #ffc107;
}

.delete-btn:hover {
  color: #dc3545;
}

td {
  text-align: center;
}

.table-container {
  width: fit-content;
}

.table-head {
  display: flex; 
  flex-direction: column;
}